.hero{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
    
}

.div-one , .div-two , .div-three , .div-four  {
   background-color: black;
   border-bottom: 5px solid gray;
   border-top: 5px solid gray;
   display: flex;
   flex-direction: row;
   text-align: center;
   
   justify-content: space-around;
   font-size: 20px;
   
}

.hero h1 {
    margin-top: 60px;
    font-size: 39px;
    
   
}

.hero p {
    overflow: auto;
    margin: 35px;
    text-align: justify;
}


